@import "./global.scss";

body {
    padding-top: 52px;
    margin: 0;
    background: #f6f6f6;
    -webkit-tap-highlight-color: rgba(0,0,0,0);//去除移动端浅蓝背景
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC,
        Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
/**
 * =============================================================================
 * ************   全局样式   ************
 * =============================================================================
 */
.color-green {
    background: lightgreen !important;
}
.color-yellow {
    background: rgb(182, 212, 71) !important;
}
.color-red {
    background: lightsalmon !important;
}
.p-a-1 {
    padding: 10px;
}
.p-a-2 {
    padding: 20px;
}
.card {
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

button {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.is-fixed {
    position: fixed;
}

.img-round {
    border-radius: 3px !important;
}
/**
 * =============================================================================
 * ************   响应式工具   ************
 * =============================================================================
 */
@media (max-width: 599px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 600px) and (max-width: 1023px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 1024px) and (max-width: 1439px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1440px) and (max-width: 1919px) {
    .hidden-lg {
        display: none !important;
    }
}
@media (min-width: 1920px) {
    .hidden-xl {
        display: none !important;
    }
}
/* 在比特定屏幕小的设备上隐藏 */
@media (max-width: 599px) {
    .hidden-xs-down {
        display: none !important;
    }
}
@media (max-width: 1023px) {
    .hidden-sm-down {
        display: none !important;
    }
}
@media (max-width: 1439px) {
    .hidden-md-down {
        display: none !important;
    }
}
@media (max-width: 1919px) {
    .hidden-lg-down {
        display: none !important;
    }
}
.hidden-xl-down {
    display: none !important;
}
/* 在比特定屏幕大的设备上隐藏 */
.hidden-xs-up {
    display: none !important;
}
@media (min-width: 600px) {
    .hidden-sm-up {
        display: none !important;
    }
}
@media (min-width: 1024px) {
    .hidden-md-up {
        display: none !important;
    }
}
@media (min-width: 1440px) {
    .hidden-lg-up {
        display: none !important;
    }
}
@media (min-width: 1920px) {
    .hidden-xl-up {
        display: none !important;
    }
}

/*********下拉选择************/
.select {
    input {
        color: transparent; /*隐藏光标*/
        text-shadow: 0 0 0 #8590a6;
        cursor: pointer;
        outline: none;
        border: 0;
        padding: 5px;
        font-size: 0.95em;
    }
    ul {
        max-width: 200px;
        background: #fff;
        cursor: pointer;
        padding-inline-start: 0px;
        border-radius: 3px;
        transform: translate(-25%, -0);
        li {
            -webkit-font-smoothing: subpixel-antialiased;
            list-style-type: none;
            padding: 10px 25px;
            &:hover {
                background: #ebebeb;
            }
        }
    }
}

/**
 * =============================================================================
 * ************   主体   ************
 * =============================================================================
 */

@media screen and (min-width: 640px) {
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 1000px;
        padding: 0 16px;
        margin: 10px auto;
    }
    .container-left {
        flex-shrink: 0;
        margin-right: 10px;
        margin-bottom: 0;
        width: 694px;
    }
}
@media screen and (max-width: 640px) {
    .container {
        padding: 0 10px;
        margin: 10px auto;
    }
}

.main-info {
    background: white;
    border-radius: 3px;
}

/************校长介绍**************/
.our-headmaster {
    background: #fff;
    margin-bottom: 10px;
    .lijun {
        object-fit: cover;
        width: 100%;
    }
    .headmaster-title {
        display: flex;
        padding: 5px 8px;
        font-size: 17px;
        border-bottom: 1px solid #e5f2ff;
    }
    .headmaster-content {
        padding: 5px 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .headmaster-content-text {
            padding-left: 5px;
            min-width: 200px;
            color: #888888;
        }
        .headmaster-content-title {
            font-weight: bold;
        }
    }
}

.card-menu {
    margin-right: 0;
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    overflow: visible;
    .card-menu-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 94px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: flex;
    }
}

.card-menu-item-text {
    margin-top: 10px;
    color: #444;
    font-size: 16px;
}

.card-menu-item-icon {
    color: #8590a6;
    margin-bottom: 4px;
}

/**********版权信息********/
.copyright {
    color: #8590a6;
    padding: 5px 1px;
    a {
        &:hover {
            color: $themeColor;
            cursor: pointer;
        }
    }
}

/** 九宫格 */
.rows {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 640px) {
        .rows-item {
            width: 50%;
        }
    }
    @media (min-width: 640px) {
        .rows-item {
            width: 33.3333%;
        }
    }
}

.manager-item {
    img {
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
}
