@import "./global.scss";

@mixin colorBadage {
	color: $themeColor;
}

/**
 * =============================================================================
 * ************   排版   ************
 * =============================================================================
 */
.typo {
	h1 {
		font-size: 25px;
		font-weight: bold;
	}
	h2 {
		position: relative;
		font-size: 20px;
		border-left: 4px solid;
		padding: 0 0 0 10px;
		margin: 30px 0;
		@include colorBadage();
	}
	h3 {
		font-size: 16px;
		@include colorBadage();
	}
	ul,
	ol {
		padding-left: 28px;
	}
	ol li {
		padding-left: 6px;
	}
	ol li,
	ul li {
		margin-bottom: 0;
		list-style: inherit;
	}
	.typo-meta {
		color: $grey;
		text-align: center;
		margin-top: -5px;
	}
	.highlight {
		margin: 0 -5px;
	}
	& > p {
		color: #595959;
		font-size: 15px;
		line-height: 2;
		font-weight: 400;
		img {
			width: 95%;
			margin: 0 auto;
			display: block;
			border-radius: 3px !important;
		}
		.typo-img-caption {
			margin-top: 5px;
			text-align: center;
			color: #c4a3a3;
			font-size: small;
		}
	}
	blockquote {
		margin: 5px;
		p {
			border-left: $themeColor 4px solid;
			padding-left: 9px;
		}
	}
	a {
		color: $themeColor;
		&:hover {
			text-decoration: underline;
		}
	}
	.typo-heading {
		a {
			display: none;
		}
		&:hover {
			a {
				display: inline;
			}
		}
	}
}

.typo-detail {
	margin-top: 5px;
	display: flex;
	justify-content: center;
}

.typo-split {
	svg {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: -24px;
		opacity: 0.7;
	}
}
