@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

/**
 * =============================================================================
 * ************   Atomic Css   ************
 * =============================================================================
 */
.Bgc\(red\) {
	background: red !important;
}

.Bgc\(white\) {
	background: white !important;
}

.Textc\(secondary\) {
	color: #8590a6;
}

.Textc\(primary\) {
	color: #fff;
}

.Textc\(primary\)\:h :hover {
	color: #fff;
}

.Textc\(secondary\)\:h :hover {
	color: #8590a6;
}

.Texta\(center\) {
	text-align: center;
}

.Overf\(hidden\) {
	overflow: hidden;
}

.Cur\(pointer\) {
	cursor: pointer;
}

.P\(10px\) {
	padding: 10px;
}

.P\(20px\) {
	padding: 20px;
}

.Br\(30px\) {
	border-radius: 30px;
}

.Br\(3px\) {
	border-radius: 3px;
}

.Bra\(30px\) {
	border-radius: 30px 30px 0px 0px;
}

.Bru\(30px\) {
	border-radius: 0px 0px 30px 30px;
}

.Dis\(flex\) {
	display: flex;
}

.JC\(center\) {
	justify-content: center;
}

.Pos\(fixed\) {
	position: fixed;
}
