body {
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* DO NOT add this: transform: translate3d(0, 0, 0); */
	font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
		Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
		Hiragino Sans GB, Microsoft YaHei, Arial;
}

/**
 * =============================================================================
 * ************   主体   ************
 * =============================================================================
 */

.main {
	padding: 85px 0px 30px 0px;
	min-height: 100vh;
}

@media (min-width: 1000px) {
	.main {
		display: flex;
		justify-content: center;
	}
	.container {
		width: 800px;
	}
}

.center {
	margin: 0 auto;
	display: block;
}

/**
 * =============================================================================
 * ************   Atomic Css   ************
 * =============================================================================
 */
.Bgc\(red\) {
	background: red !important;
}

.Bgc\(white\) {
	background: white !important;
}

.Textc\(secondary\) {
	color: #8590a6;
}

.Textc\(primary\) {
	color: #fff;
}

.Textc\(primary\)\:h :hover {
	color: #fff;
}

.Textc\(secondary\)\:h :hover {
	color: #8590a6;
}

.Texta\(center\) {
	text-align: center;
}

.Overf\(hidden\) {
	overflow: hidden;
}

.Cur\(pointer\) {
	cursor: pointer;
}

.P\(10px\) {
	padding: 10px;
}

.P\(20px\) {
	padding: 20px;
}

.Br\(30px\) {
	border-radius: 30px;
}

.Br\(3px\) {
	border-radius: 3px;
}

.Bra\(30px\) {
	border-radius: 30px 30px 0px 0px;
}

.Bru\(30px\) {
	border-radius: 0px 0px 30px 30px;
}

.Dis\(flex\) {
	display: flex;
}

.Pos\(fixed\) {
	position: fixed;
}

/**
 * =============================================================================
 * ************   响应式工具   ************
 * =============================================================================
 */
@media (max-width: 599px) {
	.hidden-xs {
		display: none !important;
	}
}
@media (min-width: 600px) and (max-width: 1023px) {
	.hidden-sm {
		display: none !important;
	}
}
@media (min-width: 1024px) and (max-width: 1439px) {
	.hidden-md {
		display: none !important;
	}
}
@media (min-width: 1440px) and (max-width: 1919px) {
	.hidden-lg {
		display: none !important;
	}
}
@media (min-width: 1920px) {
	.hidden-xl {
		display: none !important;
	}
}
/* 在比特定屏幕小的设备上隐藏 */
@media (max-width: 599px) {
	.hidden-xs-down {
		display: none !important;
	}
}
@media (max-width: 1023px) {
	.hidden-sm-down {
		display: none !important;
	}
}
@media (max-width: 1439px) {
	.hidden-md-down {
		display: none !important;
	}
}
@media (max-width: 1919px) {
	.hidden-lg-down {
		display: none !important;
	}
}
.hidden-xl-down {
	display: none !important;
}
/* 在比特定屏幕大的设备上隐藏 */
.hidden-xs-up {
	display: none !important;
}
@media (min-width: 600px) {
	.hidden-sm-up {
		display: none !important;
	}
}
@media (min-width: 1024px) {
	.hidden-md-up {
		display: none !important;
	}
}
@media (min-width: 1440px) {
	.hidden-lg-up {
		display: none !important;
	}
}
@media (min-width: 1920px) {
	.hidden-xl-up {
		display: none !important;
	}
}
