@import "../../scss/global.scss";

.people-item {
	height: 35vh;
	// &:nth-child(even){
	// }
	margin-top: 5px;
	flex: 0 0 100%;
	@media (min-width: 1024px) {
		flex: 0 0 48%;
	}
	flex-direction: column;
	& > .people-item-protrait {
		height: 17.5vh;
		img {
			object-fit: cover;
			width: 100%;
			height: 17.5vh;
			border-radius: 30px 30px 0px 0px;
		}
	}
	& > .people-item-content {
		padding: 5px 10px;
		.people-item-content-header {
			font-size: xx-large;
			font-weight: 600;
			justify-content: space-between;
		}
	}
}
