@import "../../scss/global.scss";

/************文章列表******************/
.passage-list {
	background: #fff;
	padding: 5px;
	margin-bottom: 7px;
	border-radius: 0px 0px 30px 30px;
}

.people-item {
	background-position: center;
	background-repeat: no-repeat;
	height: 35vh;
	display: flex;
	flex-direction: column-reverse;
	& > .people-item-content {
		padding: 5px 10px;
		background: rgba(255, 255, 255, 0.8);
	}
}
